    {% extends "layout.html" %}
    
    {% block content %}
    <h1>Coins</h1>

    <div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Coin</th>
                <th scope="col">Value</th>
                <th scope="col">Buy</th>
                <th scope="col">Sell</th>
            </tr>
            </thead>
            <tbody>

            <!-- Construct the rest of courses here -->
            {% for data in coins_for_trade %}
            <tr>
                <td scope='row'>{{ data["coin_name"] }}</td>
                <td>{{ data["value"] }}</td>
                <td>
                    <form action="{{ url_for('transaction') }}" method="POST">
                        <input type="hidden" name="coin_name" value="{{data['coin_name'] }}">
                        <input type="hidden" name="amount" value="{{data['amount'] }}">
                        <input type="hidden" name="transaction_type" value="buy">
                    <button>Buy</button>
                </form>
                </td>
                <td>
                    <form action="{{ url_for('transaction') }}" method="POST">
                        <input type="hidden" name="coin_name" value="{{data['coin_name'] }}">
                        <input type="hidden" name="amount" value="{{data['amount'] }}">
                        <input type="hidden" name="transaction_type" value="sell">
                    <button>Sell</button>
                </form>
                </td>
            </tr>
            {% endfor %}
            
            </tbody>
        </table>
    </div>

{% endblock %}