{% extends "layout.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-12 text-center">
                <h1>What Is Cryptocurrecny Trading All About?</h1> 
            <div style="text-align:left;">

                <p>Cryptocurrency trading involves speculating on price movements via a CFD trading account, 
                    or buying and selling the underlying coins via an exchange.</p>
                
                    
                <p>After you put your day trading strategy to work during the trading day,
                it’s easy to let the energy and emotion overtake you.
                You get sloppy and stop keeping track of what’s happening. And that’s not good.</p>
                <br>
            </div>
                <p>We supply a platform to track your trading and summerize your profit and loss</p>
        </div>
    </div>

{% endblock %}

